<script src="socket.io.min.js"></script>
<script>
  var socket = io.connect('//localhost:1973');
  socket.on('connect', function () {
    socket.send('hello computer');
    console.log('Connected!');
  });
  socket.on('message', function (msg) {
      // my msg
      console.log("Got message: "+msg);
  });
</script>